/* Restablecer márgenes y paddings predeterminados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgb(199, 14, 14);
    color: white;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 20px; 
}

#logo {
    font-size: xx-large;
    font-weight: bold;
    text-align: left;
}

#logo img {
    height: 80%;
    max-height: 10vh; 
    width: auto;
}

#menu {
    font-size: x-large;
    display: flex;
    gap: 15px;
}

#menu span {
    line-height: normal;
}

a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

a:hover {
    color: #f1c40f;
}


#menu span a {
    margin-left: 8px;
}

#intro h1 {
    text-align: center;
    margin-top: 20px;
}

#intro img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#intro p {
    text-align: center;
    font-size: 160%;
}