#NarutoIMG1 {
    margin: 25px;
    padding: 10px;
    opacity: 100%;
}

#NarutoIMG1:hover {
    width: 900px;
    opacity: 80%;
    transition: opacity 1s, width 450ms;
}

body {
    background-image: url('../img/fondo_practica1.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
  }

#tabla {
    border-collapse: separate;
    border-spacing: 5px;     
    border: 2px solid black; 
}

#tabla td, #tabla th {
    border: 1px solid gray;
    padding: 10px;             
}

h1 {
    text-align: center;
    font-size: 50px;
}

.Subtitulos {
  letter-spacing: 1px; 
  text-transform: uppercase;
}

ul {
    list-style-type:upper-roman 
}

#titulo_tabla {
   text-transform: uppercase;
   letter-spacing: 2px;
   font-size: 20px;
   padding: 10px;
   margin: 10px; 
}

#primer_subtitulo {
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px;
    margin: 10px;
}